body {
    background-color: rgb(126, 204, 181);
}
.top {
    background-color: rgb(152, 184, 161);
    color: rgb(70, 69, 61);
    text-align: center;
}
/* 소개글*/
.introduction {
    height: 300px;
}
mark {
    background-color: rgba(210, 129, 218, 0.699);
}
/*목차*/
.index mark{
    background-color: gold;
}

.index ol {
    background-color: azure;
    width: 500px;
}
.index li {
    background-color: beige;
    margin-bottom: 10px;
}
.index li:hover {
    background-color: blueviolet;
    color: rgb(104, 180, 84);
}
.index a:hover {
    color:rgb(255, 255, 255)
}
/*운영진*/
.mentor table {
    border: 3px solid green;/*굵기 선종류 색상*/
}
.mentor table td {
    height: 50px;
    width: 100px;
    border: 3px dotted rgb(204, 141, 47);
    background-color: blanchedalmond;
    text-align: center;
}
/*팀원*/
.group table {
    border-collapse: collapse;
    border: 3px solid green;
}
.group table tr:nth-child(odd) {
    background-color: blanchedalmond;
}
.group table td {
    height: 50px;
    width: 100px;
    text-align: center;
}
/*링크*/
.link1 ul{
    background-color: azure;
    width: 500px;
}
.link1 li {
    background-color: beige;
    margin-bottom: 10px;
}
.link1 a{
    text-decoration-line: none;
}
.link1 a:hover {
    text-decoration-line: underline;
    color: white;
    background-color: rgb(255, 86, 247);
}

.link1 li:hover {
    background-color: blueviolet;
    color: rgb(104, 180, 84);
}
/*소사캠*/
.school img{
    width: auto;
    height: 250px;
}